/* .circle {
    margin: 10px;
    border: 4px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
} */
/* .circle-0 {
    position: relative;
    left: 45%;
    top: 100px;

    margin: 10px;
    border: 4px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
} */
.circle-1 { 
    position: absolute; 
    /* left: 309px;
    top: 152px; */

    left: 40%;
    top: 20%;
    border: 4px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.circle-2 {
    position: absolute;
    /* left: 809px;
    top: 30px; */

    left: 10%;
    top: 40%;
    border: 4px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.circle-3 {
    position: absolute;
    right: 10%;
    top: 40%; 

    border: 4px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.circle-4 {
    position: absolute;
    left: 20%;
    top: 70%; 


    border: 4px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.circle-5 {
    position: absolute;
    right: 20%; 
    top: 70%; 

    border: 4px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}